<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link"routerLink="/wond" routerLinkActive="active">W.O.N.D. </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/kg">K.G.</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
            <a id="cart" (click)="toggleList()"><i class="fa fa-shopping-cart">     
            </i> Cart <span class="badge badge-info">{{cartCount}}</span></a>
        </div>
    </div>
</div>
</nav>
<div class="container" *ngIf="showList">
  <div class="shopping-cart">
      <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon"></i><span class="badge badge-info">{{cartCount}}</span>
          <div class="shopping-cart-total">
              <span>Total:</span>
              <span>${{cartTotal}}</span>
          </div>
      </div>
      <div *ngIf="cartItems.length == 0" class="py-2">
          No items in your cart!
      </div>
      <ul class="shopping-cart-items">
          <li *ngFor="let item of cartItems; let i=index">
              <!-- <img src="assets/test.jpg" alt="Item" /> -->
              <span class="item-quantity">Qty: {{item.quantity}}</span>
              <span class="item-name">{{item.pName}}</span>
              <span class="item-price">${{item.price}}</span>
              <a class="item-remove text-danger" (click)="removeFromCart(item, i)"> Remove </a>
          </li>
      </ul>
      <a routerLink="/ty" (click)="item.length = 0" class="btn btn-primary btn-block">Checkout</a>
  </div>
</div>
